<!DOCTYPE html>
<html>

<head>
    <title>Comment List</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="" href="">
</head>


<body>
    {{> nav}}

    <h1>Forum</h1>

    {{> footer}}
</body>


</html>
