<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="" href="">
</head>


<body>
    {{> nav}}

    <h1>Jeff the Landshark Main's Forum</h1>
    <h3>I'm jeffing it</h3>

    {{#if user}}
    {{else}}
    {{/if}}

    {{> footer}}
</body>


</html>
