<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="" href="">
</head>


<body>
    {{> nav}}

    <h1>Jeff the Landshark Main's Forum</h1>

    <!--
    Simple if, just changes if the user is logged in/exists or not.
    -->
    {{#if user}}
        <h2>Make a post it'd be so funny</h2>
    {{else}}
        <h2>Make an account to post unsolicited opinions on the internet!</h2>
    {{/if}}

    {{> footer}}
</body>


</html>
