<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="" href="">
</head>


<body>
    {{> nav}}

    <h1>Jeff the Landshark Main's Forum</h1>

    <!--
        Error message if the server.js raises an error flag
    -->
    {{#if error}}
        <div class="error-message" role="alert">
            {{error}}
        </div>
    {{/if}}


    <!--
        A form used to log in. If the username and password exist and both match, allows the user 
        to log in.
    -->
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Register here</a></p>

    {{> footer}}
</body>


</html>
