<!DOCTYPE html>
<html>

<head>
    <title>New Comment</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="" href="">
</head>


<body>
    {{> nav}}

    <h1>Jeff the Landshark Main's Forum</h1>>

    <form action="/comments" method="POST">
        <label for="text">Your Comment:</label>
        <textarea id="text" name="text" rows="5" required></textarea>

        <button type="submit">Post Comment</button>
    </form>

    <p><a href="/comments">Back to Comments</a></p>

    {{> footer}}
</body>


</html>
