<!--
A picture used as the footer for the entire site.
Also some text at the bottom.
-->
<footer>
    <img src="/img/Jeff_the_Land_Shark_Hero_Portrait.webp" width = 250 height = 250 alt="The fat shark">

    <p>2025 I'm-Jeffing-It</p>
</footer>