<header>
    <nav>
        <ul>
            <li><a href="/home"> Home </a></li>
            <li><a href="/comments"> Forum </a></li>

            {{#if user}}
                <li><a href="/register"> Register </a></li>
                <li><a href="/register"> Login </a></li>
            {{else}}
                <li><a href="/register"> Logout </a></li>
            {{/if}}

        </ul>
    </nav>
</header>