<header>
    <nav>
        <ul>
            <li><a href="/home"> Home </a></li>
            <li><a href="/comments"> Forum </a></li>
            <li><a href="/register"> Register </a></li>
        </ul>
    </nav>
</header>