<header>
    <nav>
        <ul>
        <li><a href="../views/home.hbs"> Home </a></li>
        <li><a href="../views/comments.hbs"> Forum</a></li>
        <li><a href="../views/register.hbs"> Register </a></li>
        </ul>
    </nav>
</header> 